/* body { */
  /* background-image: url("../../img/diffStar.png"); */
  /* background-color: #111; */
/* } */

.search{
  /* background-color: #002bff; */
top: 150px;
}

.search-bar {

  background: rgba(255, 255, 255, 0.2);
  /* opacity: .3; */
  border-color: white;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 450px;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  
  cursor: text;
  border-style: solid;
  font-size: 100%;
  font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}

input[type='search']::-webkit-search-cancel-button {
  background: white;
  cursor: pointer;
}
 .Search-icon :hover {
  color: rgb(225, 0, 255)
}


#Filter{
  background-color: rgb(255, 255, 255);
  height:50px ;
  width: 80px;
    border-radius: 4px;
  margin-right: 10px;
outline: none;
color: rgb(82, 82, 82);
font-size: 15px;
font-weight: 560;
}

.Search-icon {
  height: 50px;
  width: 55px;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  text-align: center;
  transition: 500ms linear;
  cursor: pointer;
/* background-color: transparent; */

}
/* 
.Search-icon :hover {
  background-color: #002bff;
  /* transition: scale(1.5); */



.img-ended-event {
  width: 100%;
  height: 500px;
/* margin-bottom: -20px; */
}


@media(max-width:700px) {



.img-ended-event{
  height: 300px;
}
.search{
  top: 70px;
}
  .search-bar {
    
    width: 250px;
  }

}



