.outer {
  width: 100%;
  position: relative;
}

.main {
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  width: 100%;
  height: 200px;
  position: absolute;
  margin-bottom: 0;
  left: 0;
  z-index: 1;
  top: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  filter: blur(7px);
  animation: rotate 1.5s linear infinite;

}

.footer {
  background: rgb(0, 0, 0);
  width: 98%;
  height: 190px;
  top: 0px;
  position: relative;
  place-items: center;
  margin: 0 auto;
  z-index: 9;
  top: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.Head{
  color: rgb(255, 255, 255);
  font-size: 19px;
  margin-bottom: 3px;
}

.nav-txt-container{
color: rgb(110, 103, 103);
width: 92%;
margin: 0 auto;
padding-top: 10px;
font-size: 20px;
}

.nav-txt-container::after{
  content: "To Navigate different page directs, we are not support any kind of Vain directs. You are currently in Desktop window ";
}

.main-link-container{
  display: flex;
  width: 60%;
  height: fit-content;
  margin-top: 1px;
}

.link-subCat{
  margin-left: 20px;
}
.li-head{
  font-size: 20px;
  font-weight: 700;
  list-style-type: none;
}

.li-sub{
  font-size: 18px;
  list-style-type: none;

}
.li-sub a{
color: #5e768d;
}

.Side_links {
display: none;
}

.CopyRight{
  color: #aeb9bd;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  font-weight: 500;
}

@media only screen and (max-width: 811px) and (min-width: 700px)   {
  .CopyRight{
  margin:0;
  margin-left: 20px;
  margin-top: -20px;
  font-size: 15px;
  }
}
@media only screen and (max-width: 1065px) and (min-width: 811px)   {
  .CopyRight{
  margin:0;
  margin-left: 100px;
  margin-top: -20px;
  }
}

@media only screen and (max-width: 1141px) and (min-width: 1065px)   {
.CopyRight{
  margin-top: -20px;
}
}

@media(max-width:700px) {
  .main {
    height: 140px;
  }
  .footer {
    height: 140px;
    top: 0px;
  }

  .List{
    display: inline-flex;
    list-style: none;
    list-style-type: none;
    margin-left: -30px;
  }

  .Order {
    font-size: 12px;
    font-weight: 500;
    margin: 4px;
  }

  .nav-txt-container{
    height: 42px;
  font-size: 12px;
  
  }
  .nav-txt-container::after{
    content: "To Navigate different page bellow, we are not support any kind of Vain directs";
  }

  .main-link-container{
  display: none;
  }

  .Side_links {
    display: block;
    position: relative;
    width: fit-content;
    top: 2px;
    height: 30px;
  margin: 0 auto;
  }

  .CopyRight{
  /* margin: 0; */
  font-size: 10px;
  color:  rgb(56, 50, 50);
  position: relative;
height: 10px;
  top: 45px;
  left: 10px;
  /* background-color: #0cbcf2; */
  }

  }

@keyframes rotate {
  0% {
    filter: blur(14px) hue-rotate(0deg);
  }

  100% {
    filter: blur(14px) hue-rotate(360deg);
  }

}


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.social_media {
  position: absolute;
  margin: 0 auto;
  top: 110px;
  right: .6rem;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(315deg, #ffffff, #d7e1ec); */
  z-index: 15;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 20px;

}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
z .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #29487D;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  ;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #6cc644;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #FF0000;
  color: #ffffff;
}

.icon-adjust {
  font-size: 30px;
  margin-top: 10px;
}

/* mobile */

@media(max-width:700px) {
  .social_media {
    position: relative;
    top: -28px;
    margin: 0 auto;
    /* background-color: #fafaff; */
    display: grid;
    place-items: center;
    /* bottom:0.2rem; */
    margin-top: 0px;
    margin-bottom: 0%;
  }

  .wrapper .icon {
    width: 20px;
    height: 10px;
  }

  .icon-adjust {
    font-size: 20px;
    margin-top: 7px;
  }

}