* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #0b0b0b;
    position: relative;
     box-shadow:  0px 2px 25px 2px rgb(0, 0, 0);
    z-index: 11;
  }


  .nav-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    text-shadow:0 0 #fff,
     0 0 7px #fff,
     0 0 10px #fff,
     0 0 14px #0992fa , 
     0 0 30px #0992fa,
     0 0 70px #0992fa,
     0 0 90px #0992fa,
     0 0 100px #0992fa,
     0 0 150px #0992fa




    ;
 
  }
  .nav-title{
   
    animation: pulsate 2.5s infinite alternate;     
  }
  @keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0992fa,
        0 0 80px #0992fa,
        0 0 90px #0992fa,
        0 0 100px #0992fa;
      
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0992fa,
        0 0 45px #0992fa,
        0 0 55px #0992fa,
        0 0 70px #0992fa,
        0 0 100px #0992fa;
    
    }
  }
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

  .sign-button{
  
    display:none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 11;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav-btn:hover span:nth-child(2){
      color:blue;  
      transform-origin: 0 0;
        
        transition: 0.4s;
        transform:translateX(10px);
       
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    
    /* LOGIN BUTTON */

    #sign-button{
      position: absolute;
      top: 0.9rem;
      right: 3.5rem;
      display: flex;
    font-family: Arial, Helvetica, sans-serif;
    }

    
    .gr-move {
      position: relative;
  }
  
  
   
      .gr-move .gradient-neon {
         
          background-image: linear-gradient(90deg, #9900FF , #F60F5C, #99FF66);
          background-size: 300%;
          
          border: none;
          color: #fff;
          border-radius: 4px;
          height: 30px;
          width: 50px;
          margin-top: -5px;
      }
   
      .gr-move:hover .gradient-neon {
          
                  animation:moveInnerBg 4s infinite;
      }
       
      .gr-move:hover .gradient-neon{
          
          background-image: linear-gradient(90deg, #E13AFA , #FF69B4, #98FB98);
      }
   
      .gr-shadow2, .gr-shadow2::before, .gr-shadow2::after {
          content:'';
          position: absolute;
          left:10px;
          top: 0px;
          border-radius: 4px;
          width: 30px;
          height: 10px;
          z-index: -1;
          
          transition: all .3s ease-in;            
          opacity:0;
      }
   
      .gr-move:hover .gr-shadow2, .gr-shadow2::before, .gr-shadow2::after {
          opacity:1;
      }
   
      .gr-shadow2 {
         
                  box-shadow: 0px 5px 50px 10px hsl(81, 79%, 78%);
         
      }
   
      .gr-shadow2::before {        
          right: 0;
          bottom: 0;
          
                  box-shadow: 0px 5px 50px 10px #F867FD;
                  animation:moveBg1 2.5s infinite;
      }
   
      .gr-shadow2::after {        
          bottom: 0;
                  box-shadow: 0px 5px 50px 10px #F3B5AE;
                  animation:moveBg2 3s infinite;
      }
   
  }

  
  