body{
    color: aliceblue;
}
.info-container{
    height: 500px;
    width: 90%;
    background-color: rgb(32, 32, 31);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
}

.content-div{
    width: 70%;
background-color: aqua;

}

.img-info{
    width: 200px;
    height: 200px;
}

.inner-div{
    background-color: brown;
   display: flex;
    height: fit-content;
}

.illust-div{
    width: 40%;
/* background-color: yellow; */
}